@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --text-base: #1a1c1e;
  --text-description: #45474a;
  --primary: #fc3c1c;
}

body {
  @apply bg-white text-[var(--text-base)] text-base font-normal;
}
